<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Express Users</h1>

      <nav>
        <a href="/">Home</a>

        {{#if blahUser}}
          <strong>{{blahUser.email}}</strong>
          <a href="/room/add">Add a Room</a>
          <a href="/my-rooms">See Your Rooms</a>
          <a href="/logout">Log Out</a>
        {{else}}
          <a href="/signup">Sign Up</a>
          <a href="/login">Log In</a>
        {{/if}}
      </nav>
    </header>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
